.about{
    background-color: $light-text-color;
    color: $background-color;
    padding: 20px;

    h1{
        border-bottom: 2px solid $background-color;
    }

    .about-section{
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 1fr;
        &__profile-image{
            display: flex;
            flex-direction: column;
            align-items: center;
            &__wrapper{
                width: 200px;
                height: 200px;
                border-radius: 100px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    min-height: 200px;
                    max-width: 300px;
                }
            }
            h3{
                margin: 0;
                text-align: center;
            }
            p{
                margin: 0;
                text-align: center;
            }
        }
        p{
            line-height: 2;
        }
    }
    .job-section{
        h3{
            border-bottom: 2px solid $background-color;
        }
        .job-timeline{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            position: relative;
            margin: 200px 20px 20px 20px;
            &__spacer{
                display: none;
            }
            &__item{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                &__circle{
                    width: 100px;
                    height: 100px;
                    border-radius: 50px;
                    border: 2px solid $background-color;
                    overflow: hidden;
                    position: relative;
                    background-color: $light-text-color;
                    z-index: 99;
                    img{
                        position: absolute;
                        max-width: 100%;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                &__description{
                    display: none;
                    position: absolute;
                    top: 116px;
                    width: 200px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    border: 2px solid $background-color;
                    background-color: $light-text-color;
                    padding: 20px;
                    z-index: 99;
                    &__carot{
                        margin: auto auto -10px 50%;
                        border-width: 2px 0px 0px 2px;
                        border-style: solid;
                        border-color: $background-color;
                        width: 20px;
                        height: 20px;
                        transform: translate(-50%, -32px) rotate(45deg);
                        background-color: $light-text-color;
                    }

                }
                &__label{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 150px;
                    div{
                        text-align: center;
                    }
                }
                &__tick-mark{
                        position: absolute;
                        height: 30px;
                        width: 2px;
                        top: 35px;
                        background-color: $background-color;
                }
                &__tick-label-right{
                    transform: translate(-50%, -80px) rotate(-90deg);
                    width: 180px;
                }
                &__tick-label-left{
                    transform: translate(50%, -80px) rotate(-90deg);
                    width: 180px;
                    position: absolute;
                }
                .tick-right{
                    position: absolute;
                    left: 150px;
                }
                .tick-left{
                    right: 150px;
                }
                &:hover{
                    .job-timeline__item__description{
                        display: block;
                    }
                }
            }
            &__line{
                position: absolute;
                top: 49px;
                width: 100%;
                height: 2px;
                background-color: $background-color;
            }
        }
    }
    .education-section{
        h3{
            border-bottom: 2px solid $background-color;
        }
        ul{
            list-style: square;
        }
    }
    .skills-section{
        h3{
            border-bottom: 2px solid $background-color;
        }
        ul{
            list-style: square;
        }
        &__icons{
            width: 100%;
            display: flex;
            flex-basis: row;
            justify-content: space-evenly;
            margin: 40px 0px;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                i{
                    font-size: 2em;
                }
                span{
                    display: block;

                }
            }
        }
    }
}

@media only screen and (max-width: 500px){
    .about{
        .about-section{
            display: flex;
            flex-direction: column;
        }
        .job-section{
            &__jobs{
                display: flex;
                flex-direction: column;
            }
        }
        .skills-section{
            &__icons{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 20px;
                grid-template-rows: 100px 100px 100px;
                margin-bottom: 0px;
            }
        }
    }
}

@media only screen and (max-width: 620px){
    .about{
        .job-section{
            .job-timeline{
                margin: 0px 0px 0px 0px;
                display: flex;
                flex-direction: column;
                &__line{
                    position: absolute;
                    left: calc(50% - 1px);
                    top: 0;
                    width: 2px;
                    height: 100%;
                }
                &__spacer{
                    width: 100%;
                    height: 150px;
                    display: block;
                }
                &__item{
                    height: 200px;
                    .tick-right{
                        position: absolute;
                        top: 140px;
                    }
                    .tick-left{
                        right: 60px;
                        top: -40px;
                    }
                    &__label{
                        position: absolute;
                        top: 50px;
                        transform: translate(0, -50%);
                        left: -20px;
                        max-width: calc(50vw - 60px);
                    }
                    &__tick-mark{
                        left: 50% !important;
                        transform: translate(-50%,0);
                        width: 30px;
                        height: 2px;
                    }
                    &__tick-label-right{
                        transform: translate(0, -50%);
                        left: calc(50% + 20px) !important;
                        bottom: 40px;
                    }
                    &__tick-label-left{
                        transform: translate(0, -50%);
                        right: calc(50% + 20px) !important;
                        top: -40px;
                        text-align: right;
                    }
                    &__description{
                        z-index: 999;
                    }
                }
                &__line{
                    top: 24px;
                }
            }
        }
    }
}