.call-to-action{
    width: 100%;
    height: calc(100vh - 75px);
    margin-top: 75px;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    h1{
        max-width: 150px;
        margin-left: 20px;
        font-size: 2.5em;
        z-index: 99;
    }

    canvas {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    &__carot-wrapper{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__carot{
        transform: rotate(45deg);
        border-width: 0px 4px 4px 0px;
        width: 30px;
        height: 30px;
        border-color: $light-text-color;
        
        border-style: solid;
        border-radius: 2px;
        transition: 1s opacity ease;
        &:hover{
            cursor: pointer;
        }
    }

    .graph{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(0, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;

        h3{
            max-width: 200px;
            text-align: center;
        }

        &__bars{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            &__item{
                margin: 0px 20px;
                min-height: 420px;
                display: flex;
                max-width: 60px;
                align-items: center;
                flex-direction: column;
                justify-content: flex-end;
                h5{
                    text-align: center;
                }
                div{
                    width: 50px;
                    border-radius: 3px;
                    transition: transform 1s ease;
                }
                &__old{
                    height: 20px;
                    background-color: #d91e18;
                    align-self: flex-end;
                }
                &__new{
                    height: 300px !important;
                    background-color: #3fc380;
                }
                &__new-short{
                    background-color: #3fc380;
                    height: 20px;
                    transition: transform 1s ease;
                }
            }
        }
    }
}

.carot-hide{
    opacity: 0 !important;
}

@media only screen and (max-width: 420px){
    .graph{
        display: none !important;
    }
    .call-to-action{
        h1{
            margin-top: -20px;
        }
    }
}

@media only screen and (min-width: 1000px){
    .call-to-action{
        h1{
            max-width: 500px;
        }
    }
}