.header{
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 75px;
    width: calc(100vw - 40px);
    top: 0px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: $background-color;
    transition: height 1s ease;
    z-index: 999;

    &__title{
        h1{
            margin: 0px;
        }
    }

    &__menu{
        transition: left 1s ease;
        left: -300px;
        a{
            margin: 0px 20px;

            &:hover{
                cursor: pointer;
            }
        }
    }

    &__toggle{
        display: none;

        button{
            border: none;
            height: 30px;
            width: 50px;
            position: relative;
            background-color: transparent;
            span{
                position: absolute;
                width: 50px;
                height: 5px;
                left: 0;
                background-color: $light-text-color;
                transition: transform 1s ease;
                border-radius: 2.5px;
            }
            span:nth-child(1){
                top: 0;
            }
            span:nth-child(2){
                top: 15px;
                transform: translate(0, -50%);
                transition: opacity 1s ease;
            }
            span:nth-child(3){
                top: 25px;
            }

        }
        .close{
            span:nth-child(1){
                top: 0;
                transform: rotate(-45deg) translate(-17%, 10px)
            }
            span:nth-child(2){
                top: 15px;
                opacity: 0;
            }
            span:nth-child(3){
                top: 25px;
                transform: rotate(45deg) translate(-18%, -8px);
            }
        }
    }
}


@media only screen and (max-width: 600px){
    .header{
        
        &__menu{
            display: none;
            position: fixed;
            left: -300px;
            transition: 1s left ease;
        }

        &__toggle{
            display: block;
        }

    }
}

.close-menu{
   transition: 1s left ease;
   left: -300px;
}

.open-menu{
    display: flex !important;
    justify-content: flex-start;
    top: 0px;
    left: 0px !important;
    height: 100%;
    flex-direction: column;
    background-color: $light-text-color;
    color: $background-color;
    a{
        margin: 20px 20px;
    }
}

.mobile-menu{
    transition: 1s left ease;
    left: -300px;
}

.header-small{
    height: 50px;
    $background-color: $light-text-color;
    $color: $background-color;
    border-bottom: 2px solid $background-color;
}