@import "variables";

html, body{
    font-family: Avenir;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $light-text-color;
    overflow-x: hidden;
}

@import "header";
@import "callToAction";