@import "variables";

@font-face{
    font-family: AvenirMedium;
    src: url("../../dist/fonts/avenir.ttf") format("truetype");
}

html, body{
    font-family: AvenirMedium;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $light-text-color;
    overflow-x: hidden;
}

@import "header";
@import "callToAction";
@import "about";
@import "portfolio";
@import "contact";
@import "footer";